<div class="container column gap">
    <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="flex column">
        <mat-form-field>
            <mat-label for="userId">User Id: </mat-label>
            <input matInput type="number" formControlName="userId" />
        </mat-form-field>

        <mat-form-field>
            <mat-label for="title">Title: </mat-label>
            <input matInput formControlName="title" />
        </mat-form-field>

        <mat-form-field>
            <mat-label for="body">Description: </mat-label>
            <textarea matInput formControlName="body" class="input-text-area"></textarea>
        </mat-form-field>

        <div class="flex space-between">
            <button mat-raised-button class="font-2" type="submit">
                <span *ngIf="currentPage ===
                    'add'">ADD</span>
                <span *ngIf="currentPage ===
                    'edit'">UPDATE</span>
            </button>

        </div>
    </form>
    <button mat-raised-button class="font-2" (click)="goBack()">BACK</button>
</div>