.flex {
  display: flex;
}
.gap-1 {
  gap: 1em;
}
.row {
  flex-direction: row;
}
.table {
  width: 100%;
}
.table-2 {
  width: 90%;
}
.center {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.actions {
  text-align: right;
}
.text-centered {
  text-align: center;
}
.text-left {
  justify-content: left;
  align-items: flex-start;
  text-align: left;
}
.text-right {
  text-align: right;
}
.width-25 {
  width: 25%;
}
.width-30 {
  width: 30%;
}
.add-btn {
  align-self: flex-end;
  background-color: rgb(120, 120, 238);
  color: rgb(255, 255, 255);
}
